*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear {display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(113, 134, 89);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app-header {
  height: 35px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
}

.to-do-input, .to-do-button{
  height: 100%;
}

.to-do-input {
  width: 75%;
  padding: 5px;
}

.to-do-button {
  width: 22%;
  border: 3px solid rgb(26, 110, 120);
}

.child-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 6px;
  line-height: 120%;
  background-color: rgb(111, 111, 126);
  border: 1px solid rgb(40, 58, 14);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.child-text {
  max-width: 250px;
}

.child-buttons {
  display: flex;
  font-size: 20px;
}

.child-buttons .btn {
  width: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
}

.imp-button {
  margin: 0 6px;
  font-weight: 600;
  background-color: rgb(246, 255, 0);
}

.reject-button {
  font-weight: 700;
  background-color: red;
}

.important {
  background-color: rgb(41, 98, 0);
  color: yellow;
}